---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
	font: 1rem/1.4 $helvetica;
	color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.25em;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.25;
  }
}

h1 {
	font-size: 2.5rem;
	a {
		color: inherit;
	}
	@include mobile{
		font-size:2.25rem;
	}
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
font-weight:normal;
	text-decoration:underline;
}

h4 {
  font-size: 1.125rem;
  color: $gray;
}

p {
  margin: 15px 0;
color:#333;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0 30px;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.stabilo{
	background:yellow;
}

.btn{
    background: #00DF38;
    display: inline-block;
    border: 3px solid #fff;
    border-radius: 300px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.33;
    color: #fff!important;
    display: flex;
    max-width: 300px;
    margin: auto;
	margin-bottom: 1rem;
	margin-top:1rem;
    align-items: center;
    justify-content: center;
}

.menu-hor{
	margin:0;
	padding:0;
	list-style:none;
	li{
		letter-spacing:1px;
		font-weight:bold;
		color:#fff;
	}
}

span.h1Alt{
	text-align: center;
	font-size: 2rem;
	display: block;
	color: #fff;
	font-weight: bold;
	margin-bottom:1.5rem;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead{background:#33cc99}

.wrapper-masthead:last-child{background:#5cd6ad}

#topHeader{
	padding:0.5rem 0;
	.logo{
		display: inline-block;
		color: #000;
		font-weight: bolder;
		border: 3px solid #000;
		padding: 0.5rem 1rem;
		letter-spacing: 2px;
		background: #fff;
		margin-left: 0.75rem;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
	.th2{
		display: block;
		float: right;
		text-align: right;
		padding: 1rem 0.75rem;
		color: #fff;
    		font-family: georgia;
    		font-style: italic;
		font-size:1rem;
		@include mobile {
			display:none;
		}
	}
	@include mobile {
		text-align:center;
	}
}

#topHeader:after{
	content: '';
    display: block;
    clear: both;
}

#topNavbarMenu{
	background:#29a47b;
	
	span{
		display:none;
		@include mobile {
			font-size: 0.9rem;
			font-family: georgia;
			color: #fff;
			font-style: italic;
			text-align: center;
			display: block;
			padding: 0.75rem 0;
		}
	}
	
	[type="checkbox"], label {
	  display: none;
	}
	
	[type="checkbox"]{
		@include mobile {
		    display: block;
		    z-index: 99;
		    opacity: 0;
		    position: absolute;
		    width: 35px;
		    height: 35px;
			top:1.25rem;
			left:0;			
		}
	}
	
	label{
		@include mobile {
			display: block;
			background: transparent;
			width: 40px;
			height: 40px;
			cursor: pointer;
			position: absolute;
			top:1.25rem;
			left:0;
			padding: 6px;
			z-index:98;
		}	
	}
	
	label:after{
		@include mobile{
			content: '';
			display: block;
			width: 30px;
			height: 5px;
			background: #fff;
			margin: 0;
			box-shadow: 0px 10px 0px #fff, 0px 20px 0px #fff;
		}
	}
	
	ul.container{
		list-style:none;
		background:#29a47b;
		max-width:1200px;
		li{
			float:left;
			width:25%;
			a{
				display:block;
				border-left:1px solid #33cc99;
				text-align:center;
				color:#fff;
				font-size:0.875rem;
				font-weight:bold;
				padding:0.75rem 0;
				
				@include mobile {
					border-left:0;
					border-bottom:1px solid #33cc99;
				}
			}
			a:hover{
				background:#1f7b5c;
			}
			
			@include mobile {
				display: block;
				float: none;
				width: 100%;
			}
		}
		li:last-child a{
			border-right:1px solid #33cc99;
			@include mobile {
				border-right:none;
				border-bottom:none;
			}
		}
		
		@include mobile {
			display: none;
		}
	}
	
	ul.container:after{
		content: '';
		display: block;
    	clear: both;
	}
	
	[type="checkbox"]:checked ~ ul {
		@include mobile{
			display: block;
			border-top:1px solid #33cc99;
			border-bottom:4px solid #111;
			padding:0;
		}
	}
	
	@include mobile {
		//display:none;
	}
}

.masthead {
  padding: 5rem 0;
  text-align:center;
	
	.site-info{
		padding: 1.5rem 6rem;
		border: 2px solid #fff;
		box-shadow: 5px 5px #fff;
		margin: 1rem 0 5rem;
		background:#3cc192;
		@include mobile{
			padding:1.5rem;
			margin-bottom:1rem;
		}
	}
	
  @include mobile {
    text-align: center;
	padding:1rem 0.75rem;
  }
}

#landing-page{
	.a1{
	    min-width: 960px;
	    max-width: 1200px;
	    margin: auto;
		.b1{
			float:left;
			img{
				display:inherit;
				@include mobile {
					max-width:80%;
				}
			}
			@include mobile {
				float:none;
				width:100%;
				text-align:center;
			}
		}
		.b2{
			padding-top: 75px;
			.spanh4{
				font-size: 2.25rem;
				font-weight: 700;
				color:#fff;
				display:block;
				@include mobile {
					font-size:1.5rem;
				}
			}
			.spanh3{
				font-weight: 900;
				font-size: 3.5rem;
				color:#fff;
				display:block;
				@include mobile {
					font-size:2.25rem;
				}
			}
			p{
				font-size: 21px;
				margin-bottom: 50px;
				color:#fff;
			}
			.btnb{
				display: inline-block;
				background: #ec00e4;
				color: #fff;
				padding: 20px 40px;
				text-decoration: none;
				margin-bottom: 20px;
				width: 30%;
				border-radius: 10px;
				text-align: center;
				font-weight: bold;
				border-bottom: 5px solid #444;
				font-size:1rem;
				
				@include mobile {
					width:75%;
				}
			}
			.btnb::after{
				content:'\279C';
			}
			.btnb.q1{
				background: yellow;
    				color: #111;
			}
			@include mobile {
				padding-top: 1rem;
    			text-align: center;
			}
		}
		@include mobile {
			min-width:initial;
			
		}
	}
}

#landing-page-2{
	background:#75e1bd;
	padding:6rem 0;
	@include mobile{
		padding:1rem 0;
	}

	.a1{
		@include mobile{
			overflow-x:scroll;
		}
	}
	table{
		width:100%;
		@include mobile{
			width:200%;
		}
		tr{
			td{
				width:33.3%;
				.packs{
					padding:1rem;
					.a1{
						background:#18815e;
						text-align:center;
						padding:1rem;
						color:#fff;
					}
					.a2{
						background:#249670;
						text-align:center;
						padding:1rem;
						color:#fff;
						span{
							font-size: 6em;
							display: block;
							font-family: georgia;
							line-height: 4rem;
							height: 7rem;
							vertical-align: top;
						}
					}
					ul.a3{
						margin:0;
						padding:0;
						list-style:none;
						li{
							display: block;
							background: #fff;
							border-bottom: 2px solid #75e1bd;
							border-left: 1px solid #75e1bd;
							border-right: 1px solid #75e1bd;
							padding: 0.5rem 1rem;
							font-style:italic
						}
					}
				}
			}
		}
	}
}

.site-info {

  @include mobile {
    display: block;
    margin: 0 auto;
  }
}

.site-name {
	margin: 0.5rem 0;
	color: $darkGray;
	cursor: pointer;
	font-family: $helveticaNeue;
	font-weight: bold;
	font-size: 2rem;
	letter-spacing: 1px;
	margin-bottom:1.5rem
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
	span.no-hp{
		background: yellow;
		color: #111;
		font-weight: bold;
		padding: 0.5rem;
		
		display: inline-block;
		margin-top:1rem;
	}
}

.col-70, .col-30, .col-33{
	padding:0 0.75rem;
	@include mobile {
		padding:none;
	}
}

.col-70{
	float:left;
	width:70%;
	
	@include mobile {
		width:100%;
		float:none;
	}
}
.col-30{
	float:left;
	width:30%;
	
	@include mobile {
		width:100%;
		float:none;
	}
}

.col-33{
	float:left;
	width:33.3%;
	
	@include mobile {
		width:33.3%;
		float:left;
		padding:1px;
	}
}

.widget{
	margin-bottom:1rem;
	border:1px solid #ddd;
	padding:0.75rem;
	background: #FCFBF5;
	text-align:center;
	padding-bottom:1rem;
	
	.widget-title{
		font-size: 1rem;
		font-weight: bold;
		display: block;
		text-align: center;
		border-bottom: 2px solid #111;
		padding-bottom: 0.5rem;
		padding-top: 0.125rem;
		margin-bottom: 1rem;
	}
}

#menutop{
	list-style:none;
	display:inline-block;
	margin:5rem 0;
	li{
		float:left;
		width:175px;
		text-align:center;
		margin:5px 10px;
		font-weight:bold;
		color:#fff;
		letter-spacing: 1px;
		a{
			display:block;
			height:175px;
			border-radius:50%;
			overflow:hidden;
			box-sizing:border-box;
			border:4px solid #fff;
			margin-bottom:1rem;
			img{
				width:100%
			}
			
			@include mobile{
				height:125px;
			}
		}
		a:hover{
			border:4px solid yellow;
		}
		@include mobile{
			width:50%;
			font-size:0.9rem;
			letter-spacing: 0px;
			margin:0;
			padding:1rem;
		}
	}
	@include mobile{padding:0;margin-bottom:1rem;}
}
//
// .main
//

#main{
	margin-top:1rem;
}

#notifBox{
	padding: 0 0.75rem;
	margin-bottom:2rem;
	display:none;
	div{
		background: yellow;
		padding: 2rem 10rem;
		text-align: center;
		font-family: georgia;
		font-size: 1.5rem;
		@include mobile{
			font-size: 1.25rem;
			padding:2rem;
		}
	}
	
	a{
		display: block;
		margin-top: 1rem;
		text-decoration: underline;
	}
}

.posts > .post {
  	padding-bottom: 2em;
	border-bottom: 1px solid $lightGray;
	border:none;
	padding:0.75rem;
	margin-bottom:1rem;
	h2.posts-title{
		margin-top: 0.75rem;
    		margin-bottom: 2rem;
    		font-size: 2.25rem;
		a{
			color:#111;
			background:yellow;
		}
	}
	@include mobile {
		border:none;
		border-bottom: 1px solid $lightGray;
		padding:0.75rem 0;
	}
}

.post {
	h1{
		margin-top: 0.5rem;
		margin-bottom: 1.5rem;
	}
	
	p{	
		small{
			font-size: 0.75rem;
			position: relative;
			top: -15px;
			left: -2.5rem;
			
			@include mobile {
				left:0;
			}
		}
		
		img{
			position:relative;
			left:-2.5rem;
			
			@include mobile {
				left:0;
			}
		}
	}
	
	blockquote {
		margin: 1.8em .8em;
		border-left: 2px solid $gray;
		padding: 0.1em 1em;
		color: $gray;
		font-size: 22px;
		font-style: italic;
	}

	.comments {
		margin-top: 2.5rem;
		padding: 2.5rem;
		border-top: 1px solid #ccc;
		background: #f9f9f9;
	}

	.read-more {
		text-transform: uppercase;
		font-size: 15px;
		display: block;
		background: #eee;
		width: 100%;
		margin: 1.5rem auto;
		text-align: center;
		padding: 0.5rem 1rem;
		color: #666;
		font-size: 0.8rem;
		border-radius: 6px;
		border: 1px solid #ddd;
	}
}

.page{
	h1{
		margin-top: 0.5rem;
		margin-bottom: 1.5rem;
	}

	p{
		small{
			font-size: 0.75rem;
			position: relative;
			top: -15px;
			left: -2.5rem;
			
			@include mobile {
				left:0;
			}
		}

		img{
			position:relative;
			left:-2.5rem;
			
			@include mobile {
				left:0;
			}
		}
	}
	.comments {
		margin-top: 2.5rem;
		padding: 2.5rem;
		border-top: 1px solid #ccc;
		background: #f9f9f9;
	}
}


.table-responsive{
	margin: 2rem 0;
	table{
		border: 1px solid #ddd;
		width:calc(100% + 5rem);
		position:relative;
		left:-5rem;
		tr{
			th{
				font-weight: bold;
    				font-size: 0.9rem;
				background:#f9f9f9;
			}
			th,td{
				padding:0.75rem;
				text-align:center;
				border-bottom: 1px solid #eee;
				border-right:#ddd;
			}
			th:first-child, td:first-child{
				border-right:1px solid #ccc;
				background:aliceblue;
			}
		}
		@include mobile {
			width:200%;
			left:0;
		}
	}
	@include mobile {
		overflow-x:auto;
	}
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

.pagination{
	text-align:center;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
