    <div id="landing-page" class="wrapper-masthead">
        <div class="a1 container">
            <div class="b1">
                <img src="{{ site.baseurl }}/images/peluang-usaha-online-konveksi-depok.png">
            </div>
            <div class="b2">
                <span class="spanh4">BERSAMA KONVEKSI KAMI,<br/>OL-SHOP KAMU</span>
                <span class="spanh3">MENDADAK BANJIR ORDER!!</span>
                <p>Rahasia dibalik revenue Rp 40juta/bulan dari bisnis konveksi, OL Shop, hijab, dan lainnya. Dijamin bisa!!</p>
                <a class="btnb q1" href="http://www.solusikonveksi.com/2016/03/kursus-jahit-sablon-konveksi-jakarta-maret-2016.html">BARU MULAI USAHA? KLIK</a><br>
                <a class="btnb" href="http://www.solusikonveksi.com/p/daftar-harga-konveksi-busana-muslim.html">MAU PRODUKSI BAJU? KLIK</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div style="background: #39ba8d;">
      <div class="container">
        <span class="h1Alt" style="padding-top:5rem">KAMI KONVEKSI YANG MENGERJAKAN</span>
        <ul id="menutop" style="">
          <li><a href="{{ site.baseurl }}/p/daftar-harga-konveksi-busana-muslim.html"><img src="https://1.bp.blogspot.com/-zrDojjHedh8/WD5k12vZ0ZI/AAAAAAAACn8/ldfwH3FURm8m0lZ47v8gmFjdtVNp9OGeQCLcB/s1600/jasa-konveksi-baju-muslim-depok.jpg" /></a>BAJU MUSLIM</li>
          <li><a href="{{ site.baseurl }}/p/daftar-harga.html"><img src="https://1.bp.blogspot.com/-t3CX3Cy9XaE/WD6IKrJyLeI/AAAAAAAACoQ/I92mjYW4yhcM8SW3OqDgY2uRn5Tx1ZjBwCLcB/s1600/konveksi-baju-cewek-casual-jaksel.jpg" /></a>WANITA CASUAL</li>
          <li><a href="{{ site.baseurl }}/p/daftar-harga-konveksi-baju-anak.html"><img src="https://3.bp.blogspot.com/-5Va4HRtTASE/WD6G_8mn_tI/AAAAAAAACoM/X8j3XafTUCMQ_xHr9B_xFMW4ATMXdEUKQCLcB/s1600/konveksi-baju-anak-depok.jpg" /></a>BAJU ANAK</li>
          <li><a href="{{ site.baseurl }}/p/daftar-harga-konveksi-kemeja-pria.html"><img src="https://1.bp.blogspot.com/-SXNB8ZDFLOI/WD6IvLu4haI/AAAAAAAACoY/u5fTyG0eI70mqmmx6nm0sX6woP2K4ZbbQCLcB/s1600/konveksi-baju-pria.jpg" /></a>BUSANA PRIA</li>
        </ul>
      </div>
    </div>
