<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
    {% include meta.html %}
    {% seo %}
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href='{{ site.baseurl }}/images/favicon.ico' rel='icon' type='image/x-icon'/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <div style="text-align: center;font-size: 0.9rem;padding: 0.5rem;font-style: italic;">
          <a class="logo" href="http://www.solusikonveksi.com/">SOLUSIKONVEKSI</a>
          <span>Mau tanya tanya dulu? Silahkan <strong>WA: 0838-9072-2797</strong></span>
        </div>
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar">
            <span class="back-to-home">
              SOLUSIKONVEKSI.COM<br/>
              <span>Jakarta, Depok &amp; Bandung</span>
            </span>
            <img alt="konveksi makloon jahit jakarta dan depok" src="{{ site.avatar }}" />
          </a>

          {% if page.is_post != true %}
          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">
              {{ site.description }}
              <br />
              <span class="no-hp">WA 0838-9072-2797</span>
            </p>
          </div>
          {% endif %}

          <!--<nav>
            <a href="{{ site.baseurl }}/">HOME</a>
            <a href="{{ site.baseurl }}/daftar-harga-konveksi-kaos.html">KAOS</a>
            <a href="{{ site.baseurl }}/daftar-harga-konveksi-seragam.html">SERAGAM</a>
            <a href="{{ site.baseurl }}/daftar-harga-jahit-celana.html">CELANA</a>           
          </nav>-->
          
          <ul id="menutop">
            <li><a href="{{ site.baseurl }}/p/daftar-harga-konveksi-busana-muslim.html"><img src="https://1.bp.blogspot.com/-zrDojjHedh8/WD5k12vZ0ZI/AAAAAAAACn8/ldfwH3FURm8m0lZ47v8gmFjdtVNp9OGeQCLcB/s1600/jasa-konveksi-baju-muslim-depok.jpg" /></a>BAJU MUSLIM</li>
            <li><a href="{{ site.baseurl }}/p/daftar-harga.html"><img src="https://1.bp.blogspot.com/-t3CX3Cy9XaE/WD6IKrJyLeI/AAAAAAAACoQ/I92mjYW4yhcM8SW3OqDgY2uRn5Tx1ZjBwCLcB/s1600/konveksi-baju-cewek-casual-jaksel.jpg" /></a>WANITA CASUAL</li>
            <li><a href="{{ site.baseurl }}/p/daftar-harga-konveksi-baju-anak.html"><img src="https://3.bp.blogspot.com/-5Va4HRtTASE/WD6G_8mn_tI/AAAAAAAACoM/X8j3XafTUCMQ_xHr9B_xFMW4ATMXdEUKQCLcB/s1600/konveksi-baju-anak-depok.jpg" /></a>BAJU ANAK</li>
            <li><a href="{{ site.baseurl }}/p/daftar-harga-konveksi-kemeja-pria.html"><img src="https://1.bp.blogspot.com/-SXNB8ZDFLOI/WD6IvLu4haI/AAAAAAAACoY/u5fTyG0eI70mqmmx6nm0sX6woP2K4ZbbQCLcB/s1600/konveksi-baju-pria.jpg" /></a>BUSANA PRIA</li>
          </ul>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      <div class="col-70">{{ content }}</div>
      <div class="col-30">
        <div class="widget Image" id="Image2">
          <span class="widget-title">Jasa Konveksi Busana Muslim</span>
          <div class="widget-content">
            <a href="{{ site.baseurl }}">
              <img alt="Jasa Konveksi Busana Muslim" style="max-width:100%" id="Image2_img" src="http://3.bp.blogspot.com/-R9buJwFkE30/VBKi1O0WvII/AAAAAAAABhg/G6aZLi5Plg8/s1600/logo-solusi-konveksi.png">
            </a>
            <br>
          </div>
        </div>
        
        <div class="widget Image" id="Image3">
          <span class="widget-title">Customer Service</span>
          <div class="widget-content">
            <img alt="Customer Service" id="Image3_img" src="http://3.bp.blogspot.com/-HZPt3fQugQI/VNsApfGwUMI/AAAAAAAABrA/0w6Da5xddyQ/s1600/customer-service-5.gif" style="max-width:100%">
            <br>
          </div>
        </div>
      
        <div class="widget Text" data-version="1" id="Text1">
          <span class="widget-title">Harga Umum</span>
          <div class="widget-content">
            <b style="font-size: 18px;">Minimal qty 4 KODI dapat 2-3 Model, harga jahit 3 jenis:</b><div><b style="font-size: 18px;"><br>- Jahitan MUDAH Rp 35.000<br>- Jahitan SEDANG Rp 55.000<br>- Jahitan SULIT Rp 65.000</b></div><div><b style="font-size: 18px;"><br>Harga sample dikali 3. Diatas 200 pcs harga semakin murah.</b></div><div><b style="font-size: 18px;"><br></b></div><div><b style="font-size: 18px;">Harga tersebut adalah harga dasar untuk penambahan aplikasi dan lain-lain silahkan lihat daftar harga lengkap konveksi.</b></div><div><b style="font-size: 18px;"><br></b></div><div><b style="font-size: 18px;">Atau hubungi kami di 0838 9072 2797 (Telp/SMS/Whatsapp)</b></div>
          </div>
        </div>
        
        <div class="widget Image" data-version="1" id="Image5">
          <span class="widget-title">Rekanan Kami</span>
          <div class="widget-content">
            <img alt="Rekanan Kami" height="306" id="Image5_img" src="http://4.bp.blogspot.com/-ZCfnEZIj7Mg/VzHmt611t5I/AAAAAAAACEA/UWXatNq4uRElR9e_4MP01piNGyRadTn6gCK4B/s1600/rekanan-konveksi-kami.jpg" width="246">
            <br>
            <span class="caption">Puluhan ribu produk kami tersebar di berbagai lokasi diatas. Dari partai besar hingga partai kecil.</span>
          </div>
        </div>
        
        <div class="widget Image" data-version="1" id="Image4">
          <span class="widget-title">Menuju Lokasi</span>
          <div class="widget-content">
            <a href="http://www.solusikonveksi.com/2016/02/menuju-ke-solusi-konveksi-depok.html">
              <img alt="Menuju Lokasi" height="246" id="Image4_img" src="http://2.bp.blogspot.com/--PBwXabY9d0/VtK_nBZhu8I/AAAAAAAAB78/gp_PuHeEfZc/s1600-r/map-logo.png" width="246" style="visibility: visible;">
            </a>
            <br>
            <span class="caption">Klik untuk menuju lokasi</span>
          </div>
        </div>
        
        <div class="widget Image" data-version="1" id="Image1">
          <span class="widget-title">Cara Pembayaran</span>
          <div class="widget-content">
            <img alt="Cara Pembayaran" height="226" id="Image1_img" src="http://4.bp.blogspot.com/-4SRZiR-hIjM/VBTeK_Tq2SI/AAAAAAAABic/BRaCqeqP35s/s1600/cara-pembayaran.jpg" width="186">
            <br>
          </div>
      </div>
        
      </div>
      <div class="clearfix"></div>
      <!--<br/><br/>
      <div style="border-top:1px solid gray;text-align:center;padding-top:2rem">
          <img src="{{ site.baseurl }}/images/konveksi-murah-di-jakarta.jpg" alt="Hubungi kami di 083890722797" style="width:100%;width: 100%;max-width: 400px;" />
      </div>-->
    </div>
    
    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          <div><strong>Alamat JASAKONVEKSI:</strong><br/>Jl. Merpati 3 Komplek Griya Cinere, Limo, Depok, 16515</div><br/>
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>
    
    {% include analytics.html %}
  </body>
</html>
